@{
    Layout = null;

    var seriesTitle = "Winter Is Coming";
    var episodeNumber = 0001;
    var description = "<p>Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.</p>";
    var credits = new string[]
            { "Directed by Timothy Van Patten  ... (as Tim Van Patten)",
        "Writing Credits, " +
        " David Benioff   ... (created by)",
        "D.B. Weiss  ... (created by)",

        "George R.R. Martin  ... (based on 'A Song of Ice and Fire' by)",


        "David Benioff   ... (written by)",
        "D.B. Weiss  ... (written by)"

    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@seriesTitle</title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Episode #@episodeNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>
        <h5>Credits:</h5>
        <div>@credits</div>
    </div>
</body>
</html>
