@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game of Thrones Details";

}

<h1>@ViewBag.SeriesTitle</h1>
<h2>Episode #@ViewBag.EpisodeNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.Credits.Length > 0)
{
    <h5>Credits:</h5>
    <div>
        <ul>
            @foreach (var credit in ViewBag.Credits)
            {
                <li>@credit</li>
            }
        </ul>
    </div>
}
